{# -------------------------------------------------
   Module: Site Footer
------------------------------------------------- #}

{# Macros #}

{% import '_macros/icon' as icons %}

{#
   -------------------------------------------------
#}


<footer class="m-site_footer | py-12 | bg-red-500 text-white">
   <div class="l-container">
      <div class="l-row flex | items-center">
         <div class="l-item w-1/3">
            {% include '_includes/svgs/footer--mark' %}
         </div>
         <div class="l-item w-full md:w-2/3 | md:text-right mt-10 md:mt-0">
            <div class="inline-block text-left">
               <a class="block text-proxima text-white font-bold uppercase | mb-8">Contact</a>
               <address class="text-white not-italic">{{ general.address|nl2br }}</address>
               <div class="mt-8 fill-white">
                  {% if general.linkedin|length %}
                  <a class="inline-block" src={{general.linkedin}}>
                     {{ icons.icon('linkedin', "h-8 | text-white fill-white") }}
                  </a>
                  {% endif %}
                  {% if general.facebook|length %}
                  <a class="inline-block | ml-2" src={{general.facebook}}>
                     {{ icons.icon('facebook', "h-8 | text-white fill-white") }}
                  </a>
                  {% endif %}
                  {% if general.twitter|length %}
                  <a class="inline-block | ml-2" src={{general.facebook}}>
                     {{ icons.icon('twitter', "h-8 | text-white fill-white") }}
                  </a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>