{# -------------------------------------------------
   Module: Team Grid
------------------------------------------------- #}

{# Macros #}

{% import '_macros/icon' as icons %}

{% set team = craft.entries.section("team").all() %}

{#
   -------------------------------------------------
#}

<section class="bg-gray-400"">
	
	<div class="l-container | relative z-20">
		<div class="l-row -team py-12 | flex | items-top">
		{% for member in team %}
			{% set headshot 	= member.headshot.one() %}
			{% set name 		= member.title %}
			{% set position		= member.position %}
			{% set bio			= member.bio %}
			{% set slug 		= member.slug %}
			
			<div class="l-item -team w-full sm:w-1/2 md:w-1/3">
				<div class="w-full pb-full | relative bg-red-400">
					{% if headshot %}
					<img class="absolute | top-0 left-0 | w-full h-full object-cover" src="{{ headshot.url }}" />
					{% endif %}
				</div>
				<div class="py-8">
					<h2 class="font-minion text-red-400 font-bold text-6 mb-1">{{ name }}</h2>
					<h3 class="font-minion text-red-400 font-normal text-4">{{ position }}</h3>
					{% if bio|length > 0 %}
					<button data-modal="{{ slug }}" class="e-link inline-block text-red-400 mt-5 cursor-pointer">Read Bio</button>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	
</section>

<div id="page-overlay" class="page-overlay"></div>
{% for member in team %}
{% set headshot 	= member.headshot.one() %}
{% set name 		= member.title %}
{% set position		= member.position %}
{% set bio			= member.bio %}
{% set slug 		= member.slug %}

{% if bio|length > 0 %}
	<div class="o-modal text-red-400 | flex items-end md:px-15 lg:px-20" id="{{ slug }}">
		<div class="o-modal__inner relative">
			<h2 class="e_header_one text-red-400 mb-4">{{ name }}</h2>
			<h3 class="e-header_four text-red-400 mb-10">{{ position }}</h3>
			<div class="text-black">
				{{ bio }}
			</div>
			<button data-modal="{{ slug }}" class="absolute | top-12 right-15 lg:right-20 | cursor-pointer">
				<img src="{{ siteUrl }}dist/images/cross.png" />
			</button>
		</div>
	</div>
{% endif %}
{% endfor %}